<html>
    <table>
        <tr>
            <td>이름<input type="text"></td><br>
            <td>나이<input type="text"></td><br>
            <td>신체<input type="text"></td><br>
            <td>몸무게<input type="text"></td><br>
        </tr>
    </table>
</html>